@{
    ViewData["Title"] = "Home";
}

<!-- Page Header -->
<header class="bg-bisleri py-5 text-white text-center" style="background-color: #00B3A1;">
    <div class="container">
        <h1 class="display-4">Welcome to Bislerium Blogging Platform</h1>
        <p class="lead">Express Yourself. Engage with Your Audience. Join the Conversation.</p>
    </div>
</header>


<!<!-- Main Content Section -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="mb-4">Why Choose Bislerium?</h2>
                <p class="lead">Bislerium PVT. LTD. offers a comprehensive blogging platform tailored to your needs:</p>
                <ul class="list-group mb-4">
                    <li class="list-group-item">Intuitive User Interface</li>
                    <li class="list-group-item">Powerful Features for Content Creation</li>
                    <li class="list-group-item">Community-Driven Interaction</li>
                    <li class="list-group-item">Professional Design and Customization</li>
                </ul>
                <p>Whether you're a seasoned blogger or just starting out, Bislerium provides the tools and support you need to succeed.</p>
               

            </div>
            <div class="col-md-4">
                <a href="@Url.Action("login", "Account")" class="btn btn-bisleri btn-lg text-white" style="background-color: #00B3A1;">Sign Up Now</a>
                <h2 class="mb-4">Featured Blogs</h2>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Lorem Ipsum Blog Post 1</a>
                    <a href="#" class="list-group-item list-group-item-action">Lorem Ipsum Blog Post 2</a>
                    <a href="#" class="list-group-item list-group-item-action">Lorem Ipsum Blog Post 3</a>
                    <a href="#" class="list-group-item list-group-item-action">Lorem Ipsum Blog Post 4</a>
                    <a href="#" class="list-group-item list-group-item-action">Lorem Ipsum Blog Post 5</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About Section -->
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4">About Bislerium</h2>
                <p class="lead">Bislerium PVT. LTD. is a leading provider of innovative solutions in the digital realm.</p>
                <p>Our mission is to empower individuals and organizations to harness the power of technology and creativity to achieve their goals.</p>
            </div>
            <div class="col-md-6">
                <img src="~/images/about.jpeg" alt="About Image">
            </div>
        </div>
    </div>
</section>
